<phpunit bootstrap="./test/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         processIsolation="false"
         colors="true">
    <testsuites>
        <testsuite name="Memories">
            <directory>./test/src</directory>
        </testsuite>
    </testsuites>
</phpunit>
